<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="wrapper">
        <div class="mainHeading">
            <h1>Johnnyboi_i Showmatch Statistics</h1>
        </div>
        <div class="searchBarPage">
            <input type="text" placeholder="Search For Player Stats...">
        </div>
        <div class="queryPage">
            <p>This will be where the results go to</p>
        </div>
    </div>
</body>

</html>